@model List<Ch04MovieList.Models.Contact>
@{
    ViewBag.Title = "My Contacts";
}

<h2>Contact List</h2>

<a asp-controller="Contacts" asp-action="Add">Add New Contact</a>
<table class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.PhoneNumber</td>
                <td>@contact.Address</td>
                <td>@contact.Note</td>
                <td>
                    <a asp-controller="Contacts" asp-action="Delete" asp-route-id="@contact.ContactId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>