@model IEnumerable<Ch04MovieList.Models.Ticket.Ticket>

@{
    ViewData["Title"] = "Ticket System";
    Layout = "~/Areas/Module9/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Filter" method="post">
            <div class="form-group">
                <label>Status:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" asp-route-id=""
               class="btn btn-primary">Clear</a>
        </form>
    </div>
</div>
<div class="col-sm-10">
    <a asp-action="Add"><b>Add new ticket</b></a>

    <table class="table table-bordered table-striped mt-2">
        <thread>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Sprint Number</th>
                <th>Point Value</th>
                <th>Status</th>
                <th class="w-25"></th>
            </tr>
        </thread>
        <tbody>
            @foreach (Ch04MovieList.Models.Ticket.Ticket task in Model)
            {
                <tr>
                    <td>@task.Name</td>
                    <td>@task.Description</td>
                    <td>@task.SprintNumber</td>
                    <td>@task.PointValue</td>
                    <td>@task.Status.Name</td>
                    <td>
                        <form asp-action="Edit" method="post"
                              asp-route-id="@ViewBag.Filters.FilterString"
                              class="mr-2">

                            <input type="hidden"
                                   name="@nameof(Ch04MovieList.Models.Ticket.Ticket.Id)" value="@task.Id" />

                            <button type="submit"
                                    name="@nameof(Ch04MovieList.Models.Ticket.Ticket.StatusId)" value="done"
                                    class="btn btn-primary btn-sm">
                                Completed
                            </button>

                            <button type="submit"
                                    class="btn btn-primary btn-sm">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>